*{
    margin: 0;
    box-sizing: border-box;
}

:root{
    --heading: rgba(46,104,142,255); 
    --label: rgba(106,154,176,255);
    --background-color: #387478;
    --btn-color: rgba(17,52,74,255);
    --text-color: white;
}

.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0);
}

.formContainer{
    width: 500px;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    border-radius: 10px;
}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    padding: 0.5rem 1rem;
}

.heading h1{
    width: 200px;
    font-size: 1.2rem;
    font-weight: normal;
    text-align: center;
    background-color: var(--heading);
    padding: 0.5rem 1rem;
    border: solid black 2px;
    border-radius: 5px;
    box-shadow: 4px 4px white,3px 3px white;
}

.form{
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
}

.form label{
    text-align: center;
    border: solid black 2px;
    border-radius: 5px;
    padding: 0.5rem 1rem; 
    background-color: var(--label);
    color: var(--text-color);
    margin-right: 1rem;
    box-shadow: 4px 4px white,3px 3px white;
}

.name,.dob,.nrc,.phone{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.btns{
    display: flex;
    justify-content: end;
    align-items: center;

}

#name,#dob,#nrc,#phone{
    width: 100%;
    height: 6vh;
    border-radius: 5px;
    box-shadow: 5px 5px black,3px 3px black;
}

#btnClear{
    margin-right: 1rem;
}

#btnClear,#btnRegister{
    width: 100px;
    height: 40px;
    background-color: var(--btn-color);
    color: var(--text-color);
    border-radius: 5px;
    box-shadow: 3px 3px white,2px 2px white;
    cursor: pointer;
}

@media screen and (max-width: 600px){
    *{
        font-size: 0.8rem;
    }

    .formContainer{
        width: 350px;
    }

    .form{
        height: 350px;
    }

    #name,#dob,#nrc,#phone{
        
        height: 5vh;
    }

    #btnClear,#btnRegister{
        width: 80px;
        height: 30px;
    }
}